.container{
	min-height: 100vh;
	width: 100%;
	background:#22242c;

	padding-bottom: 1vh;
}
.whtext{
	color:white;
	text-align: center;
	padding-top: 1vh;

}
.whtext img{
	margin-right: 3px;
}
.optionsrow{
	text-align: center;
	margin-top: 3vh;
}
.imgcenter{
	text-align: center;
	margin-top: 3vh;
}
.imgcenter img{
	height: 40vh;
}
.textcenter{
	color: white;
	padding: 0;
	padding-right: 30px;
	padding-left: 30px;

	text-align: center;
}
.textcenter span h5{
	text-align: left;

}
.textcenter span h2{

	text-align: center;
}
.btns{
	margin-top: 5vh;
	text-align: center;
}
.btns button{

	margin: 0 auto;
	margin-top: 3vh;
	display: block;
}